**/build
**/test
**/.exercism
/csharp/annalyns-infiltration/bin/Debug/net9.0
/csharp/annalyns-infiltration/obj
/csharp/cars-assemble/bin/Debug/net9.0
/csharp/cars-assemble/obj
/csharp/hello-world/bin/Debug/net9.0
/csharp/hello-world/obj
/csharp/interest-is-interesting/bin/Debug/net9.0
/csharp/interest-is-interesting/obj
/csharp/leap/bin/Debug/net9.0
/csharp/leap/obj
/csharp/log-levels/bin/Debug/net9.0
/csharp/log-levels/obj
/csharp/lucians-luscious-lasagna/bin/Debug/net9.0
/csharp/lucians-luscious-lasagna/obj
/csharp/roll-the-die/bin/Debug/net9.0
/csharp/roll-the-die/obj
/csharp/scrabble-score/bin/Debug/net9.0
/csharp/scrabble-score/obj
